[Unit]
Description=Create AP manager Service
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/etc/ap_manager/
# Ensure executable exists first
# ExecStartPre=ls /usr/local/bin/ap_manager 2>/dev/null
ExecStart=/usr/local/bin/ap_manager hotspot start
ExecStop=/usr/local/bin/ap_manager hotspot stop --force
ExecStartPost=/bin/sleep 2
# Reload sends SIGHUP
ExecReload=/usr/bin/bash -c "/usr/local/bin/ap_manager hotspot stop --force && /usr/local/bin/ap_manager hotspot start"
KillMode=mixed
KillSignal=SIGTERM
TimeoutStopSec=10
User=root
SyslogIdentifier=ap_manager

[Install]
WantedBy=network-online.target
RequiredBy=apmanager_hostapd.service
